{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit">
    </form>
    {% for heroi in lista %}
    <div class="container rounded" id="cards"  onmouseover="show_excluir(this)" onmouseout="hide_excluir(this)" >
        <table id="table-cards">
            <tr>
                <td style="width: 20%;">Nome: BD</td>
                <td style="width: 60%;">{{ heroi.nome }}</td>
            </tr>
            <tr>
                <td style="width: 20%;">Universo: BD</td>
                <td style="width: 60%;">{{ heroi.universo }}</td>
            </tr>
            <tr>
                <td style="width: 20%;">Habilidade: BD</td>
                <td style="width: 60%;">{{ heroi.habilidade }}</td>
            </tr>
        </table>
    </div>
    {% endfor %}
    {% for key, value in redis.items %}
    <div class="container rounded" id="cards"  onmouseover="show_excluir(this)" onmouseout="hide_excluir(this)" >
        <table id="table-cards">
            <tr>
                <td style="width: 20%;">{{key}} - {{ value }}</td>
            </tr>
        </table>
    </div>
    {% endfor %}
</body>
</html>